<h1>RXJS Operators</h1>




<div class="float-container">
  <div class="float-child1">
    <a href="pluck">pluck (from, pipe)</a>
    <br>
    <a href="take">take (timer, interval)</a>
    <br>
    <a href="tap">tap (map)</a>
    <br>
    <a href="combineLatest">combine latest</a>
    <br>
    <a href="catchError">catch error</a>
    <br>
    <a href="filter">filter (of)</a>
    <br>
    <a href="range">range</a>
    <br>
   
</div>
  <div class="float-child2">
    <router-outlet></router-outlet>
</div>
</div>
  