<h2>Take Operator [timer, interval]:-</h2>
<h4>--Implementing take, takeLast, takeUntil inside pipe operator--</h4>

<h3>Data:</h3>
<p *ngFor="let value of names">{{value}}</p>

<h3>Fetching first 3 value using take operator:</h3>
<p *ngFor="let value of name1">{{value}}</p>


<h3>Fetching last 2 value using takeLast operator:</h3>
<p *ngFor="let value of name2">{{value}}</p>

<h4>--Creating a observable using interval operator--</h4>
<h3>Fetching first 5 value using take operator:</h3>
<p *ngFor="let value of data1">{{value}}</p>

<h3>Fetching value using takeUntil operator, using a timer of 5 seconds:</h3>
<p *ngFor="let value of data2">{{value}}</p>

